@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

/* Reset and general styles */
body {
    height: 100vh;
    margin: 0;
    font-family: 'Nunito Sans';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Header styles */
.nav-container {
    background: #54c789;
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.logo {
    color: #6e6e6e;
    font-weight: bolder;
}

.nav-menu {
    display: flex;
}

.nav-item a {
    display: block;
    padding: 0 1em;
    color: white;
}

/* Responsive menu-icon */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #54c789;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Welcome section styles */
#welcomeDiv {
    background: #6e6e6e;
    color: white;
    width: 100%;
}

/* Adjust the positioning of welcome icon in welcomesec2 */
#welcomeDiv .welcomeSec2 {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 1rem auto; /* Adjust margin to center horizontally */
    padding: 2rem 2rem;
    text-align: center;
}

/* Adjust the positioning of the welcome icons */
#welcomeDiv .welcomeSec2 svg {
    margin-left: 0.5rem; /* Adjust margin between welcome title and icon */
}


.welcomeSec1,
.welcomeSec2,
.welcomeSec3 {
    padding-top: 20px;
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    text-align: center; /* Center text within the container */
}
.welcomeSec3 h3 {
    margin-bottom: 0; /* Remove bottom margin to reduce space */
}


.welcome-title {
    /* Add your styles for the headers here */
    font-size: 1.5em; /* Example font size */
    color: white; /* Example color */
    margin-top: 10px; /* Example margin */
    margin-right: 5px;
    padding: 1.5em;
}

.welcome-icon {
    /* Add your styles for the SVG graphics here */
    
    fill: #666; /* Example fill color */
    width: 30px; /* Example width */
    height: auto; /* Example height */
    
}
/* For welcomeSec1 */
.welcomeSec1 .welcome-title {
    display: inline-block; /* Display as inline block to allow other elements to be positioned beside it */
    margin-right: 1em;

  }
  
  .welcomeSec1 .welcome-icon {
   
    vertical-align: middle; /* Align vertically with the welcome-title */
    margin-top: 3.5em;
    margin-right: 1.7em;
   
  }
  
  /* For welcomeSec2 */
  .welcomeSec2 .welcome-title {
    display: inline-block; /* Display as inline block to allow other elements to be positioned beside it */
  }
  
  .welcomeSec2 .welcome-icon {
    display: inline-block; /* Display as inline block to allow other elements to be positioned beside it */
    vertical-align: middle; /* Align vertically with the welcome-title */
    margin-top: 4em;
  }
  

.header {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Ensure the div covers the entire viewport height */
}

.container {
    max-width: 800px; /* Adjust the maximum width as needed */
    text-align: center; /* Center-align the content inside the container */
}


/* About section styles */
#about-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column; /* Stack items vertically */
    text-align: center;
}

#about-container p {
    margin: 0 2em; /* Add margin on both sides to center the paragraph */
    max-width: 600px; /* Optional: Set a maximum width to control the width of the paragraph */
    margin-bottom: 1.5em;
}


.profilePicture {
    height: 250px;
    width: auto;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; /* Add margin underneath the profile picture */
}


/* Project Container Styles */

/* Project Container Wrapper */
#project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Individual Project Container Styles */
.project-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center; /* Aligns the content to the center */
}

.project1-container,
.project2-container,
.project3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em; /* Add some spacing between project containers */
}

.project1-container .image-icon,
.project2-container .image-icon,
.project3-container .image-icon {
    display: inline-block;
    width: 240px; /* Adjust the width as needed */
    height: 240px; /* Adjust the height as needed */
    overflow: hidden;
    border: solid 3px #54c789;
    margin-bottom: 1em; /* Add some spacing between the image and content */
}

.project1-container .image-icon img,
.project2-container .image-icon img,
.project3-container .image-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project1-container .image-icon {
    margin-right: 4em; /* Adjust the value as needed */
}

.project2-container .image-icon {
    margin-left: 4em; /* Adjust the value as needed */
}

.project3-container .image-icon {
    margin-right: 4em; /* Adjust the value as needed */
}




.project-container .content {
    margin-top: 10px;
}

/* Project Container Title */
.project-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Project Container Description */
.project-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    
}

.project1-container .content p,
.project2-container .content p,
.project3-container .content p {
    margin: 0 1em; /* Adjust the margin as needed */
}







#figmaPlusImage {
    /* Apply the same styling as the project containers */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 0 auto; /* Centers the element horizontally */
}

#figmaPlusImage #imageElement {
    /* Apply the same styling as the image containers in the project containers */
    width: 100px; /* Adjust the width of the container */
    height: 100px; /* Adjust the height of the container */
    overflow: hidden; /* Ensure the image does not overflow the container */
    border: solid 3px #54c789;
}

#figmaPlusImage #imageElement img {
    /* Make the image fill the container horizontally */
    width: 100%;
    /* Make the image fill the container vertically */
    height: 100%;
    /* Ensure the image fills the container while preserving its aspect ratio */
    object-fit: cover;
}


/* Footer styles */
#footer {
    background: #54c789;
    color: white;
    margin-top: 0px;
    padding: 0;
}

/* Social media icons */
#social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    color: #fff;
}

.socials a:hover {
    font-size: 2.1rem;
    color: #6e6e6e;
}

/* Contact form styles */
#contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#footer p,
#footer span,
#footer h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#footer form input[type=submit] {
    background-color: #6e6e6e;
    color: #fff;
}

#figmaElement4 {
    margin-top: -5px; /* Adjust this value as needed */
}

#figmaElement img {
    padding: 0;
    margin: 0;
}

#figmaPlusImage {
    padding: 2em;
    margin-bottom: 1em;
}

#figmaPlusImage #imageElement {
    height: 240px;
    width: auto;
    display: block;
    margin-left: auto;
    border: solid 3px #54c789;
    padding: 2em;
    margin-bottom: -5.3rem;
    position: relative;
}
