@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Nunito Sans";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #54c789;
}
.nav-container a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
header .logo {
  color: #6e6e6e;
  font-weight: bolder;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

/* reponsive menu-icon */
.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #6e6e6e;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #54c789;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
svg {
  height: 48px;
  margin: auto;
  fill: white;
  transform: translateY(-8px) rotate(-45deg);
  display: block;
}

.welcome {
  background: #6e6e6e;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em 3em;
}

.medium {
  color: #6e6e6e;
}

#main {
  color: #6e6e6e;
  text-align: center;
}

.profilePicture {
  height: 250px;
  width: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-icon {
  height: 240px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-bottom: 2em;
  border: solid 3px #54c789;
}

.project1-container {
  padding: 4em 2em;
  margin: 1em;
}
.project1-container .content {
  margin: 1em;
  display: block;
}

.project2-container {
  padding: 4em 2em;
  margin: 1em;
}
.project2-container .content {
  margin: 1em;
  display: block;
}

.project3-container {
  padding: 4em 2em;
  margin: 1em;
}
.project3-container .content {
  margin: 1em;
  display: block;
}

.about-container {
  padding: 4em 2em;
}

.project-container {
  padding: 2em;
  margin-bottom: 1em;
}

#social #container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  color: #fff;
}

.socials a:hover {
  font-size: 2.1rem;
  color: #6e6e6e;
}

#footer {
  background: #54c789;
  color: white;
  margin-top: 0px;
  padding: 0;
}
#footer h2 {
  padding: 1em;
}

#footer form input[type=submit] {
  background-color: #6e6e6e;
  color: #fff;
}

#figmaElement {
  margin-bottom: -30px;
  right: 0;
  left: 0;
  z-index: -1;
  display: block;
}
#figmaElement img {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=main.css.map */